@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$large-screen: em(1060);
$large-screen-up: new-breakpoint(max-width $large-screen 12);
$medium-screen: em(690);
$medium-screen-up: new-breakpoint(max-width $medium-screen 12);
$small-screen: em(400);
$small-screen-up: new-breakpoint(max-width $small-screen 12);

body {
  background-color: $base-background-color;
}

.social-container {
  @include outer-container;
  margin-top: 10px;
  .social {
    span {
      margin: 0 15px;
    }
    @include span-columns(12);
    @include media($medium-screen-up) {
      font-size: 1.75em;
      span {
        margin: 0 3px;
      }
    }
    text-align: right;
    font-size: 2.5em;
  }
}

.bg-1 {
  @include outer-container;
  margin-top: 20px;
  .avatar {
    @include span-columns(5);
    @include media($medium-screen-up) {
      @include span-columns(4);
    }
    background-image: url(../img/avatar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 50%;
    margin: 0 20px 20px 30px;
  }
  .intro {
    @include span-columns(6);
    @include media($medium-screen-up) {
      @include span-columns(12);
    }
    margin: 20px;
  }
}

.bg-2 {
  @include outer-container;
  ul {
    margin-top: 50px;

    .block:hover {
      background-color: lighten(whitesmoke, 10);
      border-radius: 10px;
    }

    a {
      color: $base-font-color;
    }

    .github-repo-icon {
      font-size: 2.5em;
      position: absolute;
      bottom: 10px;
      left: 20px;
      a {
        color: $base-link-color;
      }
      a:hover {
        color: $hover-link-color;
      }
    }

    .block {
      @include span-columns(3);
      @include omega(4n);
      @include media($large-screen-up) {
        @include span-columns(4);
        @include omega(3n);
      }
      @include media($medium-screen-up) {
        @include span-columns(6);
        @include omega(2n);
      }
      @include media($small-screen-up) {
        @include span-columns(12);
      }

      position: relative;
      border-radius: 5px;
      background-color: whitesmoke;
      margin-bottom: 20px;
      min-height: 390px;
      padding: 35px;

      p {
        margin-top: 25px;
      }

      .shoutr {
        font-family: 'Alfa Slab One', cursive;
        color: #e44d36;
      }

      .taskr {
        font-family: "Fredoka One", cursive;
        color: #497aa3;
      }

      .garthslist {
        font-family: "Michroma", sans-serif;
        color: rgb(46, 49, 146);
      }
      .facespace {
        font-family: "Monofett", cursive;
        color: rgb(27, 38, 60);
        font-size: 2em;
      }
      .liveeastie {
        background-image: url(../img/liveeastie.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 25px;
      }
      .shipyard {
        background-image: url(../img/shipyard.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 80px;
        width: 100%;
      }
    }
  }
}

.accent {
  color: $base-accent-color;
}
