// colors!
$white: #FDFFFF;
$primary-text: #193C58;
$secondary-text: #50A0A1;
$links: #F34D4C;
$background: rgb(241, 241, 241);


// fonts!
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic);
$montserrat: 'Montserrat', sans-serif;
$merriweather: 'Merriweather', serif;
$fun: 'Pacifico', cursive;